@media (max-width: 1028px) {
  .img__hero {
    width: 60%;
    transform: none;
  }

  .hero {
    text-align: center;
  }

  main {
    transform: none;
  }

  #title .col-lg-6 {
    margin-bottom: 3rem;
  }
}

@media (max-width: 481px) {
  #title .btn {
    /* margin-bottom: 1rem; */
    font-size: 15px;
  }

  #press {
    gap: 2rem;
  }

  .press__img {
    width: 20%;
  }

  .carousel-control-prev {
    left: -50px !important;
  }

  .carousel-control-next {
    right: -50px !important;
  }

  .heading-primary {
    font-size: 2.5rem;
  }

  .cta-container h3 {
    font-size: 1.2rem;
  }

  .cta__buttons-container,
  .cta__buttons-container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cta__buttons-container {
    gap: 1rem;
  }

  .cta__buttons-container button {
    font-size: 0.8rem;
  }
}

@media (max-width: 900px) {
  #testimonials h2 {
    font-size: 2rem !important;
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }
}
